USE [master]
GO
/****** Object:  Database [MAESTROS]    Script Date: 24/07/2017 15:33:36 ******/
CREATE DATABASE [MAESTROS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAESTROS', FILENAME = N'D:\DATA_SQL\MAESTROS.mdf' , SIZE = 10823552KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MAESTROS_log', FILENAME = N'L:\LOG_SQL\MAESTROS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAESTROS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAESTROS]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 24/07/2017 15:33:37 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DBASIRIAC]    Script Date: 24/07/2017 15:33:37 ******/
CREATE USER [DBASIRIAC] FOR LOGIN [DBASIRIAC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DBADIME]    Script Date: 24/07/2017 15:33:37 ******/
CREATE USER [DBADIME] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [backupdc]    Script Date: 24/07/2017 15:33:37 ******/
CREATE USER [backupdc] FOR LOGIN [backupdc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ATT4024-SQL\backupdc]    Script Date: 24/07/2017 15:33:37 ******/
CREATE USER [ATT4024-SQL\backupdc] FOR LOGIN [ATT4024-SQL\backupdc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_datareader] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [backupdc]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [backupdc]
GO
/****** Object:  Table [dbo].[BASE_CUENTAS]    Script Date: 24/07/2017 15:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASE_CUENTAS](
	[CUENTA] [float] NULL,
	[HOME_PASS] [float] NULL,
	[ESTADO] [varchar](8) NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[CEDULA] [varchar](30) NULL,
	[TELEFONO_TELMEX] [float] NULL,
	[TELEFONO_1] [varchar](30) NULL,
	[TELEFONO_2] [varchar](30) NULL,
	[TELEFONO_3] [varchar](30) NULL,
	[CELULAR_1] [varchar](30) NULL,
	[CELULAR_2] [varchar](30) NULL,
	[TELEFONO_CONV] [varchar](100) NULL,
	[DIR_INSTALACION] [varchar](200) NULL,
	[DIR_CORRESPONDENCIA] [varchar](200) NULL,
	[CORREO] [varchar](330) NULL,
	[NODO] [varchar](10) NULL,
	[RED] [varchar](100) NULL,
	[DIVISION] [varchar](100) NULL,
	[AREA] [varchar](100) NULL,
	[ZONA] [varchar](100) NULL,
	[DISTRITO] [varchar](100) NULL,
	[NOMBRE_COMUNIDAD] [varchar](100) NULL,
	[DEPARTAMENTO] [varchar](50) NULL,
	[ESTRATO] [varchar](15) NULL,
	[TIPO_CLIENTE] [varchar](15) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[GRUPO_SEG] [varchar](30) NULL,
	[PRODUCTOS] [varchar](400) NULL,
	[CLAROVIDEO] [varchar](30) NULL,
	[USO_CV] [varchar](30) NULL,
	[ACTIVACION_CLARO_VIDEO] [varchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BASE_CUENTAS_2]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASE_CUENTAS_2](
	[CUENTA] [float] NULL,
	[HOME_PASS] [float] NULL,
	[ESTADO] [varchar](8) NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[CEDULA] [varchar](30) NULL,
	[TELEFONO_TELMEX] [float] NULL,
	[TELEFONO_1] [varchar](30) NULL,
	[TELEFONO_2] [varchar](30) NULL,
	[TELEFONO_3] [varchar](30) NULL,
	[CELULAR_1] [varchar](30) NULL,
	[CELULAR_2] [varchar](30) NULL,
	[TELEFONO_CONV] [varchar](100) NULL,
	[DIR_INSTALACION] [varchar](200) NULL,
	[DIR_CORRESPONDENCIA] [varchar](200) NULL,
	[CORREO] [varchar](330) NULL,
	[NODO] [varchar](10) NULL,
	[RED] [varchar](100) NULL,
	[DIVISION] [varchar](100) NULL,
	[AREA] [varchar](100) NULL,
	[ZONA] [varchar](100) NULL,
	[DISTRITO] [varchar](100) NULL,
	[NOMBRE_COMUNIDAD] [varchar](100) NULL,
	[DEPARTAMENTO] [varchar](50) NULL,
	[ESTRATO] [varchar](15) NULL,
	[TIPO_CLIENTE] [varchar](15) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[GRUPO_SEG] [varchar](30) NULL,
	[PRODUCTOS] [varchar](400) NULL,
	[CLAROVIDEO] [varchar](30) NULL,
	[USO_CV] [varchar](30) NULL,
	[ACTIVACION_CLARO_VIDEO] [varchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BASE_CUENTAS_RENTAS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASE_CUENTAS_RENTAS](
	[CUENTA] [float] NULL,
	[INTERNET_BANDA_ANCHA] [float] NULL,
	[VOZ_LOCAL] [float] NULL,
	[LARGA_DISTANCIA] [float] NULL,
	[LOCAL_EXTENDIDA] [float] NULL,
	[LD_COMUNIDAD_TELMEX] [float] NULL,
	[FUNCIONALIDADES] [float] NULL,
	[TV_SATELITAL] [float] NULL,
	[TV_DIGITAL] [float] NULL,
	[TV_ANALOGICO] [float] NULL,
	[PBX] [float] NULL,
	[PVR] [float] NULL,
	[VOD] [float] NULL,
	[REVISTA] [float] NULL,
	[OTROS_VOZ] [float] NULL,
	[OTROS_INTERNET] [float] NULL,
	[SERVICIOS_CLOUD] [float] NULL,
	[LINEAS_VIRTUALES] [float] NULL,
	[PREMIUM_ADULTOS] [float] NULL,
	[PREMIUM_CINE] [float] NULL,
	[CANALES_HD] [float] NULL,
	[OTROS_TV] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [CL_CUENTA]    Script Date: 24/07/2017 15:33:38 ******/
CREATE CLUSTERED INDEX [CL_CUENTA] ON [dbo].[BASE_CUENTAS_RENTAS]
(
	[CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASE_CUENTAS_RENTAS_2]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASE_CUENTAS_RENTAS_2](
	[CUENTA] [float] NULL,
	[INTERNET_BANDA_ANCHA] [float] NULL,
	[VOZ_LOCAL] [float] NULL,
	[LARGA_DISTANCIA] [float] NULL,
	[LOCAL_EXTENDIDA] [float] NULL,
	[LD_COMUNIDAD_TELMEX] [float] NULL,
	[FUNCIONALIDADES] [float] NULL,
	[TV_SATELITAL] [float] NULL,
	[TV_DIGITAL] [float] NULL,
	[TV_ANALOGICO] [float] NULL,
	[PBX] [float] NULL,
	[PVR] [float] NULL,
	[VOD] [float] NULL,
	[REVISTA] [float] NULL,
	[OTROS_VOZ] [float] NULL,
	[OTROS_INTERNET] [float] NULL,
	[SERVICIOS_CLOUD] [float] NULL,
	[LINEAS_VIRTUALES] [float] NULL,
	[PREMIUM_ADULTOS] [float] NULL,
	[PREMIUM_CINE] [float] NULL,
	[CANALES_HD] [float] NULL,
	[OTROS_TV] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [CL_CUENTA]    Script Date: 24/07/2017 15:33:38 ******/
CREATE CLUSTERED INDEX [CL_CUENTA] ON [dbo].[BASE_CUENTAS_RENTAS_2]
(
	[CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASE_OFRECIMIENTO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASE_OFRECIMIENTO](
	[CUENTA] [float] NULL,
	[ESCENARIO] [varchar](2000) NULL,
	[ESTADO] [varchar](2000) NULL,
	[CAMPAÑA] [varchar](2000) NULL,
	[OFRECIMIENTO1] [varchar](2000) NULL,
	[OFRECIMIENTO2] [varchar](2000) NULL,
	[OFRECIMIENTO3] [varchar](2000) NULL,
	[OFRECIMIENTO4] [varchar](2000) NULL,
	[OFRECIMIENTO5] [varchar](2000) NULL,
	[OFRECIMIENTO6] [varchar](2000) NULL,
	[OFRECIMIENTO7] [varchar](2000) NULL,
	[OFRECIMIENTO8] [varchar](2000) NULL,
	[FECHA] [datetime] NULL,
	[PERIODO] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BD_CUENTAS_GENERICAS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_CUENTAS_GENERICAS](
	[NUM_CUENTA] [decimal](38, 0) NULL,
	[NOMBRE_CTA_UNIVERSAL] [varchar](100) NULL,
	[OPERACION_CTA_UNIVERSAL] [varchar](100) NULL,
	[DESCRIPCION] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BD_PERSONAL_CAPACITACION]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_PERSONAL_CAPACITACION](
	[CEDULA] [varchar](100) NULL,
	[NOMBRE] [varchar](100) NULL,
	[ALIADO] [varchar](100) NULL,
	[CANAL] [varchar](100) NULL,
	[OPERACION] [varchar](100) NULL,
	[GRUPO] [varchar](100) NULL,
	[CARGO] [varchar](100) NULL,
	[USUARIO_RR] [varchar](100) NULL,
	[USUARIO_AGENDAMIENTO] [varchar](100) NULL,
	[USUARIO_GERENCIA] [varchar](100) NULL,
	[ESTADO] [varchar](100) NULL,
	[NOMBRE_LINEA] [varchar](70) NULL,
	[NOMBRE_1] [varchar](100) NULL,
	[NOMBRE_2] [varchar](100) NULL,
	[APELLIDO_1] [varchar](100) NULL,
	[APELLIDO_2] [varchar](100) NULL,
	[SEGMENTO] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BD_PERSONAL_HOLOS_2]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_PERSONAL_HOLOS_2](
	[CEDULA] [varchar](100) NULL,
	[NOMBRE] [varchar](100) NULL,
	[ALIADO] [varchar](100) NULL,
	[CANAL] [varchar](100) NULL,
	[OPERACION] [varchar](100) NULL,
	[GRUPO] [varchar](100) NULL,
	[CARGO] [varchar](100) NULL,
	[USUARIO_RR] [varchar](100) NULL,
	[USUARIO_AGENDAMIENTO] [varchar](100) NULL,
	[USUARIO_GERENCIA] [varchar](100) NULL,
	[ESTADO] [varchar](100) NULL,
	[NOMBRE_LINEA] [varchar](70) NULL,
	[NOMBRE_1] [varchar](100) NULL,
	[NOMBRE_2] [varchar](100) NULL,
	[APELLIDO_1] [varchar](100) NULL,
	[APELLIDO_2] [varchar](100) NULL,
	[SEGMENTO] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[deakloclpalo]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deakloclpalo](
	[RowNumber] [int] IDENTITY(0,1) NOT NULL,
	[EventClass] [int] NULL,
	[EventSequence] [bigint] NULL,
	[IsSystem] [int] NULL,
	[LoginName] [nvarchar](128) NULL,
	[LoginSid] [image] NULL,
	[SPID] [int] NULL,
	[ServerName] [nvarchar](128) NULL,
	[SessionLoginName] [nvarchar](128) NULL,
	[StartTime] [datetime] NULL,
	[TextData] [ntext] NULL,
	[TransactionID] [bigint] NULL,
	[ApplicationName] [nvarchar](128) NULL,
	[BigintData1] [bigint] NULL,
	[BinaryData] [image] NULL,
	[ClientProcessID] [int] NULL,
	[DatabaseID] [int] NULL,
	[DatabaseName] [nvarchar](128) NULL,
	[Duration] [bigint] NULL,
	[EndTime] [datetime] NULL,
	[GroupID] [int] NULL,
	[HostName] [nvarchar](128) NULL,
	[IntegerData] [int] NULL,
	[IntegerData2] [int] NULL,
	[Mode] [int] NULL,
	[NTDomainName] [nvarchar](128) NULL,
	[NTUserName] [nvarchar](128) NULL,
	[ObjectID] [int] NULL,
	[ObjectID2] [bigint] NULL,
	[OwnerID] [int] NULL,
	[RequestID] [int] NULL,
	[Type] [int] NULL,
	[EventSubClass] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[ID_DEPARTAMENTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DEPARTAMENTO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MACROPROCESO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACROPROCESO](
	[ID_MACRO_PROCESO] [int] NOT NULL,
	[DESCRIPCION] [nchar](200) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_ATRIBUTOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_ATRIBUTOS](
	[ID_ATRIBUTO] [numeric](18, 0) NOT NULL,
	[SERVICIO] [varchar](50) NOT NULL,
	[ATRIBUTO] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_CAUSAS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_CAUSAS](
	[ID_CAUSA] [numeric](18, 0) NOT NULL,
	[ID_HIPOTESIS] [numeric](18, 0) NULL,
	[CAUSA] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_CIERRE]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_CIERRE](
	[ID_CIERRE] [numeric](18, 0) NOT NULL,
	[ID_TIPO_GESTION] [numeric](18, 0) NULL,
	[CIERRE] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_DIVISIONAL]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_DIVISIONAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID NODO] [varchar](100) NULL,
	[NOMBRE_NODO] [varchar](100) NULL,
	[COMUNIDAD] [varchar](100) NULL,
	[NOMBRE_COMUNIDAD] [varchar](100) NULL,
	[DEPARTAMENTO] [varchar](100) NULL,
	[CODIGO_DANE] [varchar](100) NULL,
	[ESTATUS] [varchar](100) NULL,
	[RED] [varchar](100) NULL,
	[HHPP_BI] [float] NULL,
	[HOGARES] [float] NULL,
	[SERVICIOS] [float] NULL,
	[ID_REGIONAL] [float] NULL,
	[REGIONAL] [varchar](100) NULL,
	[ID_AREA ] [varchar](100) NULL,
	[AREA] [varchar](100) NULL,
	[ID_ZONA ] [varchar](100) NULL,
	[ZONA] [varchar](100) NULL,
	[ID_DISTRITO] [varchar](100) NULL,
	[DISTRITO] [varchar](100) NULL,
	[ID_UNIDAD GESTION] [varchar](100) NULL,
	[ID_UNIDAD GESTION_2] [varchar](100) NULL,
	[CODIGO] [varchar](100) NULL,
	[ALIADO] [varchar](100) NULL,
	[TIPOLOGIA_RED] [varchar](100) NULL,
	[ESTADO_NODO] [varchar](100) NULL,
	[PROYECCIONES] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_ESTADO_MARCACION]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_ESTADO_MARCACION](
	[ID_ESTADO] [numeric](18, 0) NOT NULL,
	[ESTADO] [varchar](8) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_GESTION]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_GESTION](
	[ID_TIPO_GESTION] [numeric](18, 0) NOT NULL,
	[ID_TIPO_CONTACTO] [numeric](18, 0) NULL,
	[GESTION] [varchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_HIPOTESIS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_HIPOTESIS](
	[ID_HIPOTESIS] [numeric](18, 0) NOT NULL,
	[HIPOTESIS] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_LINEAS_BLENDING]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_LINEAS_BLENDING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALIADO] [varchar](100) NULL,
	[NOMBRE_LINEA] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_CAUSA]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_CAUSA](
	[ID_CAUSA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_RAZON] [numeric](18, 0) NOT NULL,
	[CAUSA] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAUSA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_CIERRE]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_CIERRE](
	[ID_CIERRE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TIPO_CONTACTO] [numeric](18, 0) NOT NULL,
	[CIERRE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CIERRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_CIERRE_2]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_CIERRE_2](
	[ID_CIERRE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TIPO_CONTACTO] [numeric](18, 0) NOT NULL,
	[CIERRE] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_MOTIVO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_MOTIVO](
	[ID_MOTIVO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_CAUSA] [numeric](18, 0) NOT NULL,
	[MOTIVO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MOTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_RAZON]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_RAZON](
	[ID_RAZON] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_CIERRE] [numeric](18, 0) NOT NULL,
	[RAZON] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RAZON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_TIPO_CONTACTO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_TIPO_CONTACTO](
	[ID_TIPO_CONTACTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TIPO_GESTION] [numeric](18, 0) NOT NULL,
	[TIPO_CONTACTO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_OUTBOUND_TIPO_GESTION]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_OUTBOUND_TIPO_GESTION](
	[ID_TIPO_GESTION] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TIPO_GESTION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_GESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_RAZON]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_RAZON](
	[ID_RAZON] [numeric](18, 0) NOT NULL,
	[ID_CIERRE] [numeric](18, 0) NULL,
	[RAZON] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_TIEMPOS_ESCA]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_TIEMPOS_ESCA](
	[ID_MARCACION] [numeric](18, 0) NOT NULL,
	[PROCESO] [varchar](13) NULL,
	[RAZON] [varchar](3) NULL,
	[SUBRAZON] [varchar](3) NULL,
	[SUBMARCACION] [varchar](6) NULL,
	[DETALLE] [varchar](150) NULL,
	[ESTADO] [varchar](10) NULL,
	[DIAS] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_TIPO_CONTACTO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_TIPO_CONTACTO](
	[ID_TIPO_CONTACTO] [numeric](18, 0) NOT NULL,
	[ID_HIPOTESIS] [numeric](18, 0) NULL,
	[TIPO_CONTACTO] [varchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MARCACIONES_CALL]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCACIONES_CALL](
	[Id] [int] NOT NULL,
	[Tipo_Atencion] [varchar](500) NULL,
	[Razon] [varchar](500) NULL,
	[SubRazon] [varchar](500) NULL,
	[Descripcion] [varchar](800) NULL,
	[Posible_Causa] [varchar](500) NULL,
	[SPC] [varchar](500) NULL,
	[Canal_Habilitado] [varchar](500) NULL,
	[Que_Hacer] [text] NULL,
	[Codigos_De_Cierre] [varchar](500) NULL,
	[Asociadas_A_ajuste] [varchar](500) NULL,
	[Area_Usuario_A_escalar] [varchar](2000) NULL,
	[Quien_Finaliza_Ticket] [varchar](500) NULL,
	[Tipologias_sujetas_A_cun] [varchar](500) NULL,
	[Servicio_Que_Crea_Cun] [varchar](500) NULL,
	[Responsable] [varchar](500) NULL,
	[Area_Responsable] [varchar](500) NULL,
	[Macroproceso] [varchar](500) NULL,
	[Tipo_De_Novedad] [varchar](500) NULL,
	[Tipo_De_Solicitud] [varchar](500) NULL,
	[Servicio_Afectado] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUNICIPIOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIOS](
	[ID_MUNICIPIO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [numeric](18, 0) NULL,
	[MUNICIPIO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MUNICIPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOMBRE_LINEA]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMBRE_LINEA](
	[ID_NOMBRE_LINEA] [numeric](18, 0) NOT NULL,
	[NOMBRE_LINEA] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROCESOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESOS](
	[ID_PROCESO] [int] NOT NULL,
	[DESCRIPCION] [nchar](200) NOT NULL,
	[ID_MACRO_PROCESO] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL_USUARIO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_USUARIO](
	[ID_ROL] [int] NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUB_PROCESO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PROCESO](
	[ID_SUB_PROCESO] [int] NOT NULL,
	[ID_PROCESO] [int] NULL,
	[DESCRIPCION] [nchar](200) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T1_MARCACIONES]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T1_MARCACIONES](
	[SUBMARCACION] [varchar](1000) NULL,
	[Descripcion] [varchar](800) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TMP7_PQR_MAESTRO_FESTIVOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP7_PQR_MAESTRO_FESTIVOS](
	[ID] [varchar](20) NULL,
	[FECHA] [datetime] NULL,
	[FECHA_RR] [varchar](100) NULL,
	[NUMERO_DIA] [varchar](100) NULL,
	[NOMBRE_DIA] [varchar](255) NULL,
	[NUMERO_MES] [varchar](100) NULL,
	[NOMBRE_MES] [varchar](255) NULL,
	[ANO] [varchar](100) NULL,
	[TIPO_DIA] [varchar](255) NULL,
	[TIPO_DIA_FESTIVO] [varchar](255) NULL,
	[SEMANA] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOS_GENERICOS]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_GENERICOS](
	[ID_USUARIO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CEDULA] [numeric](18, 0) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[USUARIO_RR] [varchar](30) NOT NULL,
	[USUARIO_AGENDAMIENTO] [varchar](30) NOT NULL,
	[CONTRASENA] [varchar](100) NOT NULL,
	[ID_ROL] [int] NULL,
	[ID_NOMBRE_LINEA] [numeric](18, 0) NULL,
	[ACCESO_1] [int] NULL,
	[ACCESO_2] [int] NULL,
	[ACCESO_3] [int] NULL,
	[ACCESO_4] [int] NULL,
	[ACCESO_5] [int] NULL,
	[ACCESO_6] [int] NULL,
	[ACCESO_7] [int] NULL,
	[ACCESO_8] [int] NULL,
	[ACCESO_9] [int] NULL,
	[ACCESO_10] [int] NULL,
	[ACCESO_11] [int] NULL,
	[ACCESO_12] [int] NULL,
	[ACCESO_13] [int] NULL,
	[ACCESO_14] [int] NULL,
	[ACCESO_15] [int] NULL,
	[ACCESO_16] [int] NULL,
	[ACCESO_17] [int] NULL,
	[ACCESO_18] [int] NULL,
	[ACCESO_19] [int] NULL,
	[ACCESO_20] [int] NULL,
	[ACCESO_21] [int] NULL,
	[ACCESO_22] [int] NULL,
	[ACCESO_23] [int] NULL,
	[ACCESO_24] [int] NULL,
	[ACCESO_25] [int] NULL,
	[ACCESO_26] [int] NULL,
	[ACCESO_27] [int] NULL,
	[ACCESO_28] [int] NULL,
	[ACCESO_29] [int] NULL,
	[ACCESO_30] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[V_ACTUALIZAR_SEMAFORO]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ACTUALIZAR_SEMAFORO](
	[CUENTA_CLIENTE] [numeric](18, 0) NULL,
	[ID_INGRESO] [numeric](18, 0) NOT NULL,
	[ID_NOTA] [numeric](18, 0) NULL,
	[FECHA] [datetime] NULL,
	[DIAS] [int] NULL,
	[DIAS_T] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MAESTRO_OUTBOUND_CAUSA]  WITH CHECK ADD FOREIGN KEY([ID_RAZON])
REFERENCES [dbo].[MAESTRO_OUTBOUND_RAZON] ([ID_RAZON])
GO
ALTER TABLE [dbo].[MAESTRO_OUTBOUND_CIERRE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_CONTACTO])
REFERENCES [dbo].[MAESTRO_OUTBOUND_TIPO_CONTACTO] ([ID_TIPO_CONTACTO])
GO
ALTER TABLE [dbo].[MAESTRO_OUTBOUND_MOTIVO]  WITH CHECK ADD FOREIGN KEY([ID_CAUSA])
REFERENCES [dbo].[MAESTRO_OUTBOUND_CAUSA] ([ID_CAUSA])
GO
ALTER TABLE [dbo].[MAESTRO_OUTBOUND_RAZON]  WITH CHECK ADD FOREIGN KEY([ID_CIERRE])
REFERENCES [dbo].[MAESTRO_OUTBOUND_CIERRE] ([ID_CIERRE])
GO
ALTER TABLE [dbo].[MAESTRO_OUTBOUND_TIPO_CONTACTO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_GESTION])
REFERENCES [dbo].[MAESTRO_OUTBOUND_TIPO_GESTION] ([ID_TIPO_GESTION])
GO
ALTER TABLE [dbo].[MUNICIPIOS]  WITH CHECK ADD FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTOS] ([ID_DEPARTAMENTO])
GO
/****** Object:  StoredProcedure [dbo].[Reporte_M_Razon_CE]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Reporte_M_Razon_CE]
AS
BEGIN
SELECT Razon RAZON,COUNT(*) CANTIDAD  FROM CONVENIO_ELECTRONICO GROUP BY Razon ORDER BY COUNT(*) DESC 
END
RETURN

GO
/****** Object:  StoredProcedure [dbo].[Seleccion_Linea_P_Asesor]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Seleccion_Linea_P_Asesor]
AS
BEGIN
SELECT * FROM NOMBRE_LINEA WHERE ID_NOMBRE_LINEA IN (5,6,7,8,11,12)
END
RETURN
GO
/****** Object:  StoredProcedure [dbo].[Selecciona_Perfiles]    Script Date: 24/07/2017 15:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Selecciona_Perfiles]
AS
BEGIN
SELECT * FROM ROL_USUARIO
END
GO
USE [master]
GO
